{% extends 'base.html' %}
{% block body_part %}
    <div class="layui-body">

    <div class="layui-card-header">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">RedTeam Tools</a>
        <a href="">免杀</a>
        <a ><cite>powershell</cite></a>
    </span>
    </div>
        <blockquote class="layui-elem-quote">关于该模块</blockquote>
        <blockquote class="layui-elem-quote layui-quote-nm">
            该模块需要将mimikatz.exe源文件上传至服务端，然后经过后端处理：修改关键字、替换资源等进行免杀，上传成功后点击下载即可得到一个免杀后的mimikatz。
            Pro版可实现源码免杀，免杀效果更强劲！！！！
        </br></br>
            注：为了方便，模块允许上传多个文件，但为了保证功能的完整、准确性，请使用时一次仅长传一个文件，除mimikatz外，其他如exploit也可尝试使用该模块进行处理。
        </blockquote>

        <div class="layui-upload">
    <button type="button" class="layui-btn layui-btn-normal"
            style="margin-left: 30px"
            id="testList">选择文件
    </button>
    <button type="button" class="layui-btn" id="testListAction"
            style="display: inline; margin-left: 26px;">
        开始上传
    </button>
    <div class="layui-upload-list col-md-12">
        <table class="layui-table" style="margin: 0 0 0 0">
            <thead style="display: none">
            <tr>
                <th>文件名</th>
                <th>大小</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="demoList"></tbody>
        </table>
    </div>
            <a class="button layui-btn" href="pshdown/x.ps1">下载</a>
</div>
    </div>
{% endblock %}
{% block your_script %}

<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        //多文件列表示例
        var demoListView = $('#demoList')
            , uploadListIns = upload.render({
            elem: '#testList'
            , url: '/powershell'
            , accept: 'file'
            , multiple: true
            , auto: false
            , method:'POST'
            , bindAction: '#testListAction'
            , choose: function (obj) {
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function (index, file, result) {
                    var tr = $(['<tr id="upload-' + index + '">'
                        , '<td>' + file.name + '</td>'
                        , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
                        , '<td>等待上传</td>'
                        , '<td>'
                        , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        , '</td>'
                        , '</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function () {
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function () {
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            , done: function (res, index, upload) {
                if (res.code == 0) { //上传成功
                    var tr = demoListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    {#tds.eq(3).html(''); //清空操作#}
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = demoListView.find('tr#upload-' + index)
                    , tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
        }
   });
 })
</script>
{% endblock %}